# Ignore AWS CLI zip files
awscliv2.zip
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.backup

# Variable files (may contain secrets)
*.tfvars

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# Local binaries / archives
*.zip
